@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

#banner{
    background-image: url(https://images.hdqwalls.com/wallpapers/the-batman-2020-logo-4k-ek.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailler-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer{
    width: 50%;
}

#sinopse{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description{
    color: #fff;
    font-size: 19px;
    font-family:'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

button{
    width: 200px;
    height: 60px;
    background-color: #d21617;
    color: #fff;
    padding: 8px 10px; /* padding é a distância do conteudo de suas bordas, 8px é parte de cima e de baixo, 10px é a parte dos lados. */
    border-radius: 5px;
    cursor: pointer; /* pointer é quando passamos o mouse no botão ele fica com uma mão*/
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none; /* tira a borda preta em volta */
    margin-top: 25px;
}

.button:hover{
    background-color: #fff;
    color: black;
}

@media(max-width: 768px) {
   
    #banner {
        background-position: 50%;
    }

    #trailer-container{
        width: 104%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    } 

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description{
        width: 100%;
    }

    .button{
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}

